#panel {
  height: 120px;
  background-color: #000000;
  font-size: 32px;
}

#panel .clock-display-box .clock {
  margin: 0 !important;
  padding: 0 !important;
  /* border: 1px solid green; */
}

#panel .messages-indicator {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.popup-menu.panel-menu {
    margin-bottom: 0;
}

.popup-menu-content {
    font-size: 32px; /* Increase overall menu font size */
}

.popup-menu-item {
    font-size: 32px; /* Individual item font size */
    min-height: 64px; /* Adjust height for larger text */
    margin: 0px;
    padding: 0px;
    min-height: 40px !important;
}

.popup-menu-item StLabel {
    font-size: 32px; /* Target labels specifically */
    margin: 0px;
    padding: 0px;
    min-height: 40px !important;
}

.popup-sub-menu .popup-menu-item {
    font-size: 32px; /* Submenu items */
}

/* .popup-separator-menu-item {
  height: 40px !important;
  min-height: 3px !important;
}

.popup-sub-menu .popup-separator-menu-item {
  height: 40px !important;
  min-height: 3px !important;
} */

/* Minimal CSS for 200px dash icons */

/* #dash {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 2000px !important;
}

.overview-controls,
#overviewControls,
.overview-dash-container {
    transform: translateY(-2000px) !important;
}

#dash .dash-background {
  padding: 32px 28px;
  border-radius: 36px;
}

#dash .dash-item-container {
  min-width: 200px;
  min-height: 200px;
}

#dash .dash-item-container .show-apps,
#dash .dash-item-container .overview-tile {
  margin: 0 16px;
  padding-bottom: 32px;
}

#dash .dash-item-container .app-grid-running-dot {
  offset-y: -32px;
  width: 160px;
}

#dash .dash-separator {
  height: 200px;
  margin: 0 16px 32px 16px;
}

.dash-label {
  -y-offset: 48px;
}

.workspaces-view{
  transform: scale(0.98, 0.98);
  transform-origin: center center;
}

.window-picker {
    transform: scale(0.98, 0.98);
    transform-origin: center center;
} */

.workspace-switcher {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    spacing: 0;
}

.ws-switcher-indicator,
.ws-switcher-indicator:active {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: 0;
}